<div class="row">
    <div class="mt-4 col">
        <h3 style="text-align: center">HERE ARE THE USERS DAILY LOGS</h3>
        <table class="table mt-4 ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th class="text-center" scope="col">Temperature</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time in</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.mssv}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.class}}</td>
                    <td class="text-center">{{this.temp}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.timein}}</td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    window.setInterval('refresh()', 5000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script>